* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-family: "open sans";
}

body {
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
    position: relative;
    background-color: #FFFFFF;
}