.reportContainer {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 6rem);
    padding: 16px;
    gap: 16px
}

.report__wrapper {
    display: flex;
    gap: 16px;

}

.form__container {
    display: flex;
    flex-direction: column;
    gap: 10px;

    p {
        font-weight: 500;
    }
}

.info-p {
    display: flex;
    align-items: center;
    gap: 4px;

    span {
        display: flex;
        align-items: center;
    }
}