@use "../../sass/utils/breakpoints" as *;

.home__container {
    min-height: 100vh;
    // border: 1px solid pink;
}

.home__wrapper {
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 2rem;
    min-height: calc(100vh - 4rem);


    @include lg {
        flex-direction: row;
    }
}

.home__wrapper-center {
    padding-inline: 16px;
    padding-block: 16px;
    display: flex;
    // justify-content: center;
    // align-items: center;
    // padding-top: 1rem;
    // min-height: calc(100vh - 7rem);
}

.home__inner {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-wrap: wrap;

    @include md {
        flex-direction: row;
    }
}

.home_children {
    @include md {
        flex: 0 0 calc(33.333% - 1rem);
    }
}

.home__right {
    width: 100%;
    // border: 1px so   lid red;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include lg {
        width: 70%;
    }
}

.home__left {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include lg {
        // padding-top: 4rem;
        width: 30%;
    }
}

.header__title {
    font-weight: 500;
}

.header__filter {
    cursor: pointer;
}


.divider {
    display: none;

    @include md {
        display: block;
        // width: 1rem;
        min-height: 100%;
    }
}

.header__options {
    display: flex;
    justify-content: space-between;
}

.home__body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    @include md {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        gap: 0;
        flex-wrap: wrap;
    }
}

.home__body-lower {
    display: flex;
    flex-direction: column;

    @include md {
        flex-direction: row;
    }

    gap: 1rem;

    div {
        width: 100%;

        @include md {
            width: 50%;
        }

        // border: 1px solid red
    }
}


.details__card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}