.table-container {
    border-collapse: collapse;
    width: 100%;
}


td,
th {
    // border: 1px solid #c6c5c5;
    text-align: left;
    padding: 8px;
}

tr:nth-child(odd) {
    background-color: #dddddd;
}

.dialogContent__wrapper {
    display: flex;
    justify-content: space-between;
    padding-inline: 1rem
}

// .table-header {
//     background: #303b4ed2
// }