.header__container {
    border-bottom: 3px solid #f0f0f0;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 16px;
}

.p-white {
    color: white
}