.header__container {
    border-bottom: 3px solid #f0f0f0;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 16px;
}

.right__section {
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 4px
}

.left__section {
    display: flex;
    gap: 4px
}

.p-white {
    color: white
}

.logout {
    cursor: pointer;
    text-decoration: none;
    color: black;
}