@use "../../sass/utils/variable" as *;

.sidebar__container {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    width: 12rem;
    position: fixed;
    min-height: 100%;
    background-color: $dashboard-bg;
    color: #f4f4f4;
    gap: 4rem;
    // position: relative;
    padding-top: 0.5rem
}

.sidebar__logo {
    padding: 16px;
    font-size: 20px;
    text-decoration: none;
    color: white // padding-top: 20px
}

.logo-text {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.menu__options {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    // align-items: center;
}

.options {
    padding-inline: 16px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}


.option {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #e9e9e9e3;
    cursor: pointer;
    padding: 6px;
    text-decoration: none;
}

.option:hover {
    background-color: $selectedOption;
    padding: 6px;
    border-radius: 4px;
}

.option-selected {
    font-weight: 600;

    svg {
        stroke: $iconColor;
    }

    #menu,
    #chart {
        fill: $iconColor
    }

    background-color: $selectedOption;
    border-radius: 4px;

}


.sidebar__logo {
    display: flex;
    align-items: center;
    gap: 0.5rem
}

.user__login {
    padding: 16px;
    position: absolute;
    bottom: 3px;
    display: flex;
    align-items: center;
    gap: 0.5rem
}