.form-group {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    min-height: 80vh;
    justify-content: center;
    align-items: center;
}

.form-input {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

    label {
        text-align: left;
        width: 50%;
    }
}