.form-group {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    border: 1px solid
}

.form-input {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;

    label {
        text-align: left;
        width: 50%;
    }
}

.form-group-100w {
    width: 50%;
    gap: 2rem;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    div {
        width: 100%;
    }
}

.error-msg {
    color: tomato;
    margin-bottom: 1rem;
}