@use "./sass/utils/breakpoints" as *;
@use "./sass/utils/variable" as *;

.layout {
    width: 100%;
    background-color: $body-bg;
}

.layout-md {
    display: none;

    @include md {
        display: flex;
        flex-direction: row;
        min-height: 100vh;
        min-width: 100%;

        .outlet-md {
            margin-left: 12rem;
            width: 100%;
            // min-height: 100vh;
        }
    }
}

.layout-sm {
    display: flex;
    flex-direction: column;
    // padding: 16px;

    @include md {
        display: none;
    }
}